html {
  font-family: "Poppins";
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  background-image: url("picutre/1f4cb766-7a47-4da6-ac0a-3c9c24820364.png");
  background-size: cover;
  .container {
    height: 1340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    .inner__box {
      margin: 0;
      .inner__title {
        font-size: 65px;
        font-weight: 700;
        color: #fdf5e6;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      }
    }
    .box__picture {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      display: grid;
      gap: 30px;
      max-width: 1200px;
      width: 90%;
      height: 1200px;
      .picture__container {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .picture_1 {
          width: 94%;
          background-image: url("picutre/Mona-Lisa.jpg");
          height: 400px;
          background-size: cover;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .picture_2 {
          width: 94%;
          background-size: cover;
          background-position: center;
          background-image: url("picutre/The-Scream.jpg");
          height: 400px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .picture_3 {
          width: 94%;
          background-size: cover;
          background-position: center;
          height: 400px;
          background-image: url("picutre/The-Starry-Night.jpg");
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .picture_4 {
          width: 94%;
          background-size: cover;
          background-position: center;
          height: 400px;
          background-image: url("picutre/Girl-With-a-Pearl-Earring.jpg");
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .picture_5 {
          width: 94%;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          background-size: cover;
          background-position: center;
          height: 400px;
          background-image: url("picutre/snapedit_1762452091371.jpeg");
        }
        .picture_6 {
          width: 94%;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          border: 12px solid #4b2e05;
          border-radius: 4px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          background-size: cover;
          background-position: center;
          height: 400px;
          background-image: url("picutre/Las-Meninas.jpg");
        }
        .picture_1:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }
        .picture_2:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }
        .picture_3:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }
        .picture_4:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }

        .picture_5:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }
        .picture_6:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
        }
        .picture__name {
          color: #4b2e05;
          background-color: #e6ad6d;
          border: 3px solid rgb(108, 61, 22);
          width: fit-content;
          padding: 8px 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15.4px;
          font-weight: 700;
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  .container {
    position: relative;
    border-radius: 20px;
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-image: url("picutre/1f4cb766-7a47-4da6-ac0a-3c9c24820364.png");
    background-size: cover;
    align-items: center;
    justify-items: center;
    .picture_1 {
      display: flex;
      width: 65%;
      height: 450px;
      background-size: cover;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
    }
    .picture_2 {
      width: 74%;
      background-size: cover;
      background-position: center;
      height: 400px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
    }
    .picture_3 {
      width: 80%;
      background-size: cover;
      background-position: center;
      height: 400px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
    }
    .picture_4 {
      width: 75%;
      background-size: cover;
      background-position: center;
      height: 400px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
    }
    .picture_5 {
      width: 84%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      height: 400px;
      border: ;
    }
    .picture_6 {
      width: 74%%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      border: 12px solid #4b2e05;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      height: 400px;
    }
    .picture__information {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 460px;
      width: 100%;
      .close__box {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 10px;
        right: 10px;
        font-size: 28px;
        font-weight: 600;
        color: rgb(21, 21, 19);
      }
      .picture__name {
        font-size: 30px;
        font-weight: 700;
        color: #422c10;
        text-align: center;
      }
      .content {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
